$hotspot-debug-color: #FF0000 !default;
$hotspot-debug-opacity: 0.5 !default;

.hotspot-wrapper {
  margin: 0 auto;
  text-align: center;
}
.hotspot-container {
  position: relative;
  display: inline-block;
}
.hotspot {
  position: absolute;
  .debug & {
    background-color: $hotspot-debug-color;
    opacity: $hotspot-debug-opacity;
  }
}
