<div class="prototype-wrapper">
  <div class="prototype-container" ng-class="{debug: debug}">
    <img ng-attr-width="{{breakpoint.resolution}}" data-screen ng-src="{{screenUrl}}">
    <a ui-sref="{{hotspot.state}}({debug: debug || null})" ng-repeat="hotspot in options.hotspots" class="hotspot" style="left: {{hotspot.x * ratio}}px; top: {{hotspot.y * ratio}}px; width: {{hotspot.width}}px; height: {{hotspot.height}}px"></a>
  </div>
  <img class="screen-preload" ng-src="{{pre}}" ng-repeat="pre in preload">
</div>
